@font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.ttf') format('ttf'), url('Lato-Regular.svg') format('svg'), url('Lato-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato-Black.ttf') format('ttf'), url('Lato-Black.svg') format('svg'), url('Lato-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
