.investors-partners
    padding-bottom: 62px
    padding-top: 58px
    overflow: hidden
    &__title
        color: rgba(#16009e, 0.9)
        margin: 0
        margin-bottom: 79px
        text-align: center
        @media(max-width: 767px)
            margin-bottom: 50px
    &__row
        display: flex
        max-width: 1410px
        margin: 0 auto
        flex-wrap: wrap
        justify-content: space-between
        align-items: center
        margin-bottom: 30px
        &-s
            max-width: 1260px
            margin-bottom: 0
        @media(max-width: 1023px)
            justify-content: center
            align-items: center
        @media(max-width: 767px)
            justify-content: space-between
    &__item
        margin-right: 10px
        @media(max-width: 1023px)
            margin-right: 10px
        @media(max-width: 767px)
            margin-right: 0
            margin-bottom: 15px
            width: 45%
            display: flex
            justify-content: center
    &__img
        @media(max-width: 767px)
            height: 100%
    &__bottom
        display: flex
        margin-top: 50px
        padding-top: 69px
        border-top: 1px solid #edefef
        justify-content: center
        align-items: center
        @media(max-width: 767px)
            flex-direction: column
    &__text
        color: rgba(#16009e, 0.9)
        margin: 0
        text-align: center
        margin-right: 31px
        @media(max-width: 767px)
            margin-bottom: 20px
            margin-right: 0
    &__btn
        border-radius: 50px
        background-color: #3ac997
        width: 219px
        height: 61px
        color: #ffffff
        text-decoration: none
        text-transform: uppercase
        font-weight: bold
        display: inline-block
        line-height: 60px
        cursor: pointer
        text-align: center
        transition: all .3s ease
        &:hover
            box-shadow: 0px 12px 11px -11px #3ac997
            opacity: 0.9