-
  var app = { 
    lang: 'en',

    head: {
      title: 'Membrana (MBN) - trust management of digital assets', // default
      description: 'The first trust management platform fully based on Ethereum smart contracts.', // default
      index: {
        title: '', // inserts before default
        description: '' // overides default
      },
      cof: {
        title: 'cof',
        description: 'cof'
      },
      security: {
        title: 'security',
        description: ''
      },
      sign_in: {
        title: 'sign-in',
        description: 'sign-in'
      },
      howItWorks: {
        title: 'howItWorks',
        description: 'howItWorks'
      },
      token: {
        title: 'token',
        description: 'token'
      },
      faq: {
        title: 'FAQ',
        description: 'FAQ'
      },
    },

    nav: [
    {
      title: 'How it works',
      link: '/howItWorks/'
    },
    {
      title: 'Security',
      link: '/security/'
    },
    {
      title: 'COF',
      link: '/cof/'
    },
    {
      title: 'MBN TOKEN',
      link: '/token/'
    },
    {
      title: 'FAQ',
      link: '/faq/'
    },
    {
      title: 'About',
      link: '#'
    },
    
    ],

    socials: [
      {
        icon: '/static/img/icons/socials/telegram.svg',
        link: 'https://t.me/membranaplatform',
        showInTop: true,
        showInGetInTouch: true
      },
      {
        icon: '/static/img/icons/socials/facebook.svg',
        link: 'https://www.facebook.com/membrana.io/',
        showInGetInTouch: true
      },
      {
        icon: '/static/img/icons/socials/twitter.svg',
        link: 'https://twitter.com/membrana_io',
        showInGetInTouch: true
      },
      {
        icon: '/static/img/icons/socials/medium.svg',
        link: 'https://medium.com/@membrana',
        showInTop: true,
        showInGetInTouch: true
      },
      {
        icon: '/static/img/icons/socials/youtube.svg',
        link: 'https://www.youtube.com/channel/UCZvglEWUXnggQ-lxkw9rFlA'
      }
    ],

    top: {
      title: 'Membrana Blockchain Network',
      subTitle: 'Assets Under Management Marketplace',
      description: `We empower traders and investors from all over the world <br> with a secure opportunity to receive financial freedom`,
      rect_1: {
        title: '$2.3 millions',
        description: 'total trade volume',
      },
      rect_2: {
        title: '2500',
        description: 'successful contracts',
      },
      rect_3: {
        title: 'Risk Management',
        description: 'Unique smart-contracts technology',
      },
      rect_4: {
        title: '100% Transparency',
        description: 'no fake trader’s history',
      },
      rect_5: {
        title: 'Safety of Assets',
        description: 'traders doesn’t have direct access to the assets',
      },
      rect_6: {
        title: 'Anonymity',
        description: 'MBN does not collect private data',
      }
    },
    investors_partners: {
      title: 'Connected exchanges, investors and partners'
    },
    blockchain: {
      item_text_1: 'Parameters of the deal are stored in <br><b>Ethereum blockchain</b>',
      item_text_2: 'Trader\'s commission is stored in <br><b>Ethereum blockchain</b>',
    },
    tokens_item: {
      token_1: {
        title: 'ABCC',
        text: 'MBN/USD 1.6084'
      },
      token_2: {
        title: 'ProBIT',
        text: 'MBN/USD 1.6084'
      }
    },
    cof_token: {
      title: 'Become LEVEL 2 tokenholder'
    },
    cof_top: {
      big_text: '<b>Community Operated Fund</b> (COF)*',
      title: 'We select <b>the best traders from</b><br><b>all over the world </b>to <b>invest </b>the assets <br>of our community!',
      sub_title: '<b>*COF </b>is a pool of digital assets, which is capitalized from <b>MBN team, community members </b>and <b>external investors.</b>',
      list: {
        title: 'Why can you <b>trust us?</b>',
        li_1: 'We select traders based on their trading strategy and results',
        li_2: 'We arrange personal meetings with the best traders to know them better',
        li_3: 'We organize competitions among traders',
        li_4: 'We invest our own money as a part of community',
      }
    },
    investors: {
      title: 'Investors Advantages',
      li_1: '<b>100% risk management control: </b>set max loss, choose coin',
      li_2: '<b>No fake traders history</b>',
      li_3: '<b>Invest in traders with different trade strategy</b>',
    },
    calculate: {
      title: 'Calculate How Much You Can Earn',
      description: 'Make an easy choose from more than 100 traders<br>with up to 50% profitability per one contract.'
    },
    opportunities: {
      title: 'Traders Opportunities',
      title_2: 'Become a Trader Now',
      li_1: 'Trade on multi-exchange terminal for free',
      li_2: 'Get market\'s analytic via special soft',
      li_3: 'Get assets in trust management',
      li_4: 'Get loan and trade with leverage',
      li_5: 'Win and get prizes in trading competitions',
      li_6: 'Learn: get video lessons and market research',
    },
    platform_funds: {
      title: 'Platform for Funds',
      text: 'An investor or trader is able to join in and be part of a fund or create it in just few steps:',
      li_1: 'Create your <b>own fund</b>',
      li_2: 'Raise investments',
      li_3: 'Work with a ready base of traders',
    },
    proof_trade: {
      title: 'Proof-of-Trade',
      descriotion: '<b>Membrana </b>has developed an internal registry in which the hash sum of all completed transactions on the platform is recorded <b> - Hashlog</b>',
      text: ' <b>With its help, </b>the possibility of falsification of the trader’s <br>trading history and its efficiency is completely excluded',
    },
    rating: {
      title: 'Trader’s rating',
      sub: '* profit calculated by trader’s history based on Membrana’s block',
      sub_title: 'the best of all',
    },
    security: {
      title: 'Security',
      investor: 'Investor',
      trader: 'Trader',
      api: '<b>API</b> Keys',
      li_1: 'The trader doesn’t have <b>direct access </b>to the investor\'s assets',
      li_2: 'Investors assets are always <b>in control </b>by the investor',
      li_3: '<b>API Keys</b>are stored in a database secured with <b>ECDSA </b> algorithm',
    },
    howItWorks: {
      title: 'How it Works',
      smartContract: 'Unique <b>smart-contract</b> technology',
      descriotion: 'providing <b>100%</b> blockchain’s safety for both sides',
      smartContractItems1: 'The technology is using <b>Ethereum</b> <br> <b>Smart-contracts</b>, which fully operates deals<br> between investor and trader. Trader sets only 3<br> contract condition: <b>duration time, target <br>profit, max loss.</b>',
      smartContractItems2: 'Investor adds connection to his assets on the exchange via API keys. API keys stored in special data-base and has multilevel secure system. <b>Trader does not have direct access to assets</b>, he could not withdraw it any, he has just a temporary access for trading.',
      smartContractItems3: 'Trader’s commission is stored on Ethereum blockchain and is payed to trader in proportional to his profit results.',
      smartContractItems4: 'Investor can choose trading pairs and <b>exclude coins with low liquidity</b>.',
      smartContractItems5: 'An investor could divide <b>1 API</b> for several <b>subAPI</b> and provide assets to <b>several traders</b> from <b>1 exchange account</b>',
      conclusion: 'Conclusion',
      text1: '<b>Investor gain profit, trader gain profit</b> (smart-contract transfer trader’s commission to his Ethereum address) and <b>Membrana gain profit</b>.',
      exampleIinvest: {
        example: 'Example',
        text1: '<b>Investor</b> has <b>10 BTC</b>. He sends request for trust management to a trader. They concluded a deal via Membrana smart-contract with <b>following conditions</b>:',
        list: {
          '1': {
            name: 'Trader’s fee',
            value: '40%'
          },
          '2': {
            name: 'Duration time',
            value: '30 days'
          },
          '3': {
            name: 'Target profit',
            value: '10%'
          },
          '4': {
            name: 'Max loss',
            value: '5%'
          },
        },
        text2: 'After next <b>30 days</b> trader gain only <b>8% profit</b> in BTC and contract was closed by time. So, trader’s commission is 10 BTC * 8% *40% = <b>0.32 BTC</b>',
      },
      sestemAndSecurity: {
        title: 'Three system layers of security',
        item1: {
          title: 'API layer',
          text: 'Trader acting via API keys and does not have direct access to the investor\'s funds.'
        },
        item2: {
          title: 'Risk management executed by smart contract',
          text: 'Maximum level of losses and other parameters controls and executes by smart contract.'
        },
        item3: {
          title: 'API keys are secured and encrypted',
          text: 'API keys stored and encrypted in the backend system.'
        }
      }
    },
    token: {
      title: 'MBN Token',
      platformUtility: {
        title: '<b>User-to-platform</b> utility',
        list: {
          '1': {
            title: 'Paying commission fees',
            value: '<p class="token-list__text">Commission fees on the platform are charged in MBN tokens.</p>',
          },
          '2': {
            title: 'Payment for advanced features',
            value: '<p class="token-list__text">On Membrana platform we have various of additional advanced features which are available on a monthly subscription basis.</p> <p class="token-list__text">Payment can be done with MBN tokens or other cryptocurrencies, which are automatically converted into MBN.</p>',
          },
          '3': {
            title: 'Staking rewards',
            value: '<p class="token-list__text">To receive rewards from staking - user shall commit his tokens on Membrana platform in Staking menu</p>',
          }
        }
      },
      userUtility: {
        title: '<b>User-to-user</b> utility',
        list: {
          '1': {
            title: 'Community Operated Fund',
            value: '<p class="token-list__text"><b>Community operated fund</b> is a pool of digital assets, which is capitalized from Membrana Ltd, community members and external investors. </p> <p class="token-list__text">The purpose of COF is to provide traders with assets for management and to create multiple business opportunities for Membrana customers.</p> <p class="token-list__text">Absolutely anyone can take part in COF, performing as an investor or as an executor</p> <a href="/cof/" class="token-list__btn">learn more</a>',
          }
        }
      },
    },
    vision: {
      title: 'Presenting the vision of Membrana project',
      items: [{
        icon: '/static/img/pictures/vision/1.svg',
        title: 'Membrana is the safety',
        description: `Membrana is the safety for digital assets. It is the trust without risks for all contractors, and the security 
            guarantee for participators and traders achieved by a unique platform algorithm and decentralized distributed network technology.`.replace(/\n/g, '')
      },{
        icon: '/static/img/pictures/vision/2.svg',
        title: 'Membrana is the freedom',
        description: `Membrana is the freedom, the freedom to choose partners among platform users, from all over the world without 
            the limitations of centralized systems.`.replace(/\n/g, '')
      },{
        icon: '/static/img/pictures/vision/3.svg',
        title: 'Membrana is the new business opportunity',
        // title: 'MEMBRANA IS THE NEW BUSINESS OPPORTUNITY',
        description: `Membrana is the new business opportunity, the ability to participate and raise money for management. It is the financial freedom for everybody - regardless of their social status and seed capital.`.replace(/\n/g, '')
      },{
        icon: '/static/img/pictures/vision/4.svg',
        title: 'Membrana is the spirit <span class="nobr">of courage</span>',
        description: `Membrana is the spirit of courage. We have combined the experience of all our team members gifted from life 
            in five different countries. Each of us is well-established in our business, and is ready to dive in full force to 
            launch a start-up, created for the sake of this noble idea. We are not another broker – because we have completely changed 
            the system. How long have you been searching for an aspiring project like this that change the world for the better?`.replace(/\n/g, '')
      }]
    },
    faq_page: {
      title: 'FAQ',
      description: 'Can\'t find an answer? Email us at <a href="mailto:support@membrana.io">support@membrana.io</a>',
      items: [{
        question: 'We select traders based on their trading strategy and results',
        answer: `<b>Membrana Team</b> will airdrop <b>3%</b> of all tоkеns to participants of Global Traders Competitions.
                Based on amount of Tournament Points, each participant will receive a share of 40,000,000 tоkеns. Based on ІСО price it is worth US$ 300,000!
                To earn Tournament points, users are invited to join Global Trader Competiotion. Their money for trading are provided by Membrana platform with unique trust management algorithm. Join, compete and earn with Membrana!
                https://membrana.io/competition/`.replace(/\n/g, '')
      },{
        question: 'Where can i read more information about the service?',
        answer: `The links are on the website <a href="https://membrana.io/" target="_blank">https://membrana.io/</a>
            <br>
            <a href="https://medium.com/@membrana" target="_blank">https://medium.com/@membrana</a>
            <br>
            <a href="https://bitcointalk.org/index.php?topic=3119562.new#new" target="_blank">https://bitcointalk.org/index.php?topic=3119562.new#new</a>
            <br>
            <a href="https://twitter.com/membrana_io" target="_blank">https://twitter.com/membrana_io</a>
            <br>
            <a href="https://www.reddit.com/user/Membrana_Platform/" target="_blank">https://www.reddit.com/user/Membrana_Platform/</a>
            <br>
            <a href="https://steemit.com/@membranaio" target="_blank">https://steemit.com/@membranaio</a>
            <br>
            <a href="https://golos.io/@membrana-io/" target="_blank">https://golos.io/@membrana-io/</a>
            <br>
            <a href="https://www.linkedin.com/company/membrana-io/" target="_blank">https://www.linkedin.com/company/membrana-io/</a>
            <br>
            <a href="https://www.facebook.com/membrana.io/" target="_blank">https://www.facebook.com/membrana.io/</a>
            <br>
            <a href="https://github.com/membrana-io" target="_blank">https://github.com/membrana-io</a>
            <br>
            <a href="https://www.youtube.com/channel/UCZvglEWUXnggQ-lxkw9rFlA" target="_blank">https://www.youtube.com/channel/UCZvglEWUXnggQ-lxkw9rFlA</a>`.replace(/\n/g, '')
      },{
        question: 'How can I register in the service as a trader?',
        answer: `The Membrana platform does not have its own registration system, to use the service it is necessary to log in, 
            using the Ethereum wallet signature, for example via Metamask on a PC or Cipher, Toshi on a mobile phone.`.replace(/\n/g, '')
      },{
        question: 'What are the guarantees of participatement return?',
        answer: `Participators funds are always on his exchange account and trader receive just temporary access for trading. More details 
            of Membrana algorithm are described in Whitepaper <a href="https://membrana.io/whitepaper/" target="_blank">https://membrana.io/whitepaper/</a>`.replace(/\n/g, '')
      },{
        question: 'Is the service protected, where can I see the report?',
        answer: `An exceptional attention is given to the safety. We never store the funds of an participator or a trader in our wallets. 
            At the moment, the Membrana's smart contract has successfully passed a security audit by Hacken
            <br>
            <a href="https://medium.com/@membrana/the-partnership-between-membrana-and-hacken-exploring-new-opportunities-of-trust-management-655d07b61f1d" target="_blank">
              https://medium.com/@membrana/the-partnership-between-membrana-and-hacken-exploring-new-opportunities-of-trust-management-655d07b61f1d
            </a>`.replace(/\n/g, '')
      },{
        question: 'What is the minimum amount of entry for participator?',
        answer: `There is no the minimum amount of entry for any user. Minimum contract amount is set by trader in his trust management parameters.`.replace(/\n/g, '')
      }]
    },
    choose_language: 'Choose language:',
    english: 'English',
    russian: 'Russian',
    korean: 'Korean',
    scroll_down: 'Or Just Scroll Down',
    invest_btn: 'Invest Right Now',
    need_help: ' Need help?',
    learn_more: 'learn more',
    //- lets_start: 'Let’s start'
    
  }
