-
  var app = { 
    lang: 'en',

    head: {
      title: 'Membrana (MBN) - trust management of digital assets', // default
      description: 'The first trust management platform fully based on Ethereum smart contracts.', // default
      index: {
        title: '', // inserts before default
        description: '' // overides default
      },
      cof: {
        title: 'cof',
        description: 'cof'
      },
      security: {
        title: 'security',
        description: ''
      },
      sign_in: {
        title: 'sign-in',
        description: 'sign-in'
      },
    },

    nav: [
    {
      title: 'Investors',
      link: '#'
    },
    {
      title: 'Traders',
      link: '/Traders/'
    },
    {
      title: 'COF',
      link: '/cof/'
    },
    {
      title: 'About',
      link: '/About/'
    },
    {
      title: 'FAQ',
      link: '/FAQ/'
    },
    {
      title: 'Contacts',
      link: '/Contacts/'
    },
    
    ],

    socials: [
      {
        icon: '/static/img/icons/socials/telegram.svg',
        link: 'https://t.me/membranaplatform',
        showInTop: true,
        showInGetInTouch: true
      },
      {
        icon: '/static/img/icons/socials/facebook.svg',
        link: 'https://www.facebook.com/membrana.io/',
        showInGetInTouch: true
      },
      {
        icon: '/static/img/icons/socials/twitter.svg',
        link: 'https://twitter.com/membrana_io',
        showInGetInTouch: true
      },
      {
        icon: '/static/img/icons/socials/medium.svg',
        link: 'https://medium.com/@membrana',
        showInTop: true,
        showInGetInTouch: true
      },
      {
        icon: '/static/img/icons/socials/youtube.svg',
        link: 'https://www.youtube.com/channel/UCZvglEWUXnggQ-lxkw9rFlA'
      }
    ],

    top: {
      title: 'Membrana Blockchain Network',
      subTitle: 'Assets Under Management Marketplace',
      description: `We empower traders and investors from all over the world <br> with a secure opportunity to receive financial freedom`,
      rect_1: {
        title: '$2.3 millions',
        description: 'total trade volume',
      }
    },
    

  


    choose_language: 'Choose language:',
    english: 'English',
    russian: 'Russian',
    korean: 'Korean',

    
  }
