extends ../layouts/base

block page_variables
	- var page_class = 'cof';
	- var page_active = '/cof/';

block append head
	block head_variables
		- var title = app.head.cof.title;
		- var description = app.head.cof.description;

block content
	.dot-pattern-wrapper 
		include ../components/cof-top
		include ../components/tokenholders
		include ../components/cof-token



	