.blockchain
    .blockchain__inner.containner-pad
        .blockchain__content
            
            .blockchain__items
                .blockchain__people
                    img(src="/static/img/icons/girl2.svg", alt="").blockchain__girl
                    img(src="/static/img/icons/men2.png", alt="").blockchain__men
                form(action="").blockchain__form
                    .blockchain__item.blockchain-item
                        p.blockchain-item__text!=app.blockchain.item_text_1
                        img(src="/static/img/icons/decoreBorderLeftBig.svg", alt="").blockchain-item__decore
                        .blockchain-item__fields
                            div.blockchain-item__text2 Target Profit
                            div.blockchain-item__text2 Max Loss
                            div.blockchain-item__text2 Duration
                    .blockchain__item.blockchain-item                  
                        p.blockchain-item__text!=app.blockchain.item_text_2
                        img(src="/static/img/icons/decoreBorderLeftSmall.svg", alt="").blockchain-item__decore
                        button(type="submit" disabled).blockchain-item__btn
                            b Trader’s 
                            | Commission

                img(src="/static/img/icons/arrowBottom.svg", alt="").blockchain__arrow
                .blockchain__contract-token
                    img(src="/static/img/icons/docs.svg", alt="").blockchain__docs
                    p.blockchain__text-big
                        b Ethereum 
                        | Blockchain
