.cof-top
    img(src="/static/img/iconmen.svg", alt="").cof-top__decore.cof-top__decore-men
    img(src="/static/img/icongirl.svg", alt="").cof-top__decore.cof-top__decore-girl
    .cof-top__inner.containner-pad
        p.cof-top__big-text.title
            b Community Operated Fund
            |  (COF)*
        h1.cof-top__title
            | We select  
            b the best traders from 
            br 
            b all over the world
            | to 
            b invest
            | the assets 
            br 
            | of our community!
        p.cof-top__sub-title
            b *COF 
            | is a pool of digital assets, which is capitalized from 
            b MBN team, community members  
            | and 
            b external investors.
        .cof-top__btn-wr
            a(href="").cof-top__btn Sign in to cof
        .cof-top__list
            p.title.cof-top__text
                |  Why can you 
                b   trust us?
            .history-container.cof-top__history
                .history-container__item.history-container__item_ok
                    p.history-container__title 
                        | We select traders based on their trading strategy and results
                .history-container__item.history-container__item_ok
                    p.history-container__title 
                        | We arrange personal meetings with the best traders to know them better
                .history-container__item.history-container__item_ok
                    p.history-container__title 
                        | We organize competitions among traders
                .history-container__item.history-container__item_ok
                    p.history-container__title 
                        | We invest our own money as a part of community




