.cof-token.containner-pad
    img(src="static/img/icons/logoBg.svg", alt="").cof-token__decore
    .cof-token__inner
        h3.cof-token__title.title!=app.cof_token.title
    .cof-token__items
        include ../components/token-radio