.cof-token.containner-pad
    img(src="static/img/logoBg.svg", alt="").cof-token__decore
    .cof-token__inner
        h3.cof-token__title.title Become LEVEL 2 tokenholder
    .cof-token__items
        .cof-token__item.cart-token.cart-token_active
            span.cart-token__title ABCC
            span.cart-token__text MBN/USD 1.6084
        .cof-token__item.cart-token
            span.cart-token__title ProBIT
            span.cart-token__text MBN/USD 1.6084
    a(href="").cof-token__btn BUY MBN