.investors-partners.containner-pad
    h3.investors-partners__title.title Connected exchanges, investors and partners
    .investors-partners__row
        .investors-partners__item
            img(src="static/img/patterns/binance.svg", alt="" width="304").investors-partners__img
        .investors-partners__item
            img(src="static/img/patterns/huobi.svg", alt="" width="209").investors-partners__img
        .investors-partners__item
            img(src="static/img/patterns/bittrex.svg", alt="" width="247").investors-partners__img
        .investors-partners__item
            img(src="static/img/patterns/ethereum.svg", alt="" width="227").investors-partners__img
        .investors-partners__item
            img(src="static/img/patterns/metamask.svg", alt="" width="241").investors-partners__img
        //- .investors-partners__row.investors-partners__row-s
        .investors-partners__item
            img(src="static/img/patterns/coinbar.svg", alt="" width="137").investors-partners__img
        .investors-partners__item
            img(src="static/img/patterns/trustwallet.svg", alt="" width="354").investors-partners__img
        .investors-partners__item
            img(src="static/img/patterns/cipher.svg", alt="" width="218").investors-partners__img
        .investors-partners__item
            img(src="static/img/patterns/adab.svg", alt="" width="145").investors-partners__img
        .investors-partners__item
            img(src="static/img/patterns/toshi.png", alt="" width="230" height="90").investors-partners__img
    .investors-partners__bottom
        p.investors-partners__text.title Invest Right Now
        a(href="").investors-partners__btn.btn-base-shadow Let’s start