.investors.containner-pad
    h3.investors__title.title Investors Advantages
    .investors__inner
        .investors__item
            p.investors__text 
                b 100% risk management control: 
                |  set max loss, choose coin 
        .investors__item
            p.investors__text
                b No fake traders history
        .investors__item
            p.investors__text
                b Invest in traders with different trade strategy 
        
.calculate
    h3.calculate__title.title Calculate How Much You Can Earn
    p.calculate__description 
        | Make an easy choose from more than 100 traders
        br
        | with up to 50% profitability per one contract.