.opportunities
    h1.opportunities__titlehead.title Traders Opportunities
    .opportunities__wr.containner-pad
        img(src="/static/img/logoDecore.png", alt="").opportunities__logo
        .opportunities__inner
            .opportunities__left
                ul.opportunities__list 
                    li.opportunities__item Trade on multi-exchange terminal for free
                    li.opportunities__item Get market's analytic via special soft
                    li.opportunities__item Get assets in trust management 
                    li.opportunities__item Get loan and trade with leverage 
                    li.opportunities__item Win and get prizes in trading competitions 
                    li.opportunities__item Learn: get video lessons and market research
            .opportunities__right
                form(action="#").opportunities__form
                    h3.opportunities__title.title Become a Trader Now
                    input(type="text" placeholder="Type your nickname here...").opportunities__input.input
                    input(type="submit", value="Get Started").opportunities__btn.btn-base-shadow