.platform-funds
    .platform-funds__inner.containner-pad
        .platform-funds__content
            h3.platform-funds__title.title Platform for Funds
            P.platform-funds__text An investor or trader is able to join in and be part of a fund or create it in just few steps:
            .history-container.platform-funds__history
                .history-container__item
                    p.history-container__title 
                        | Create your 
                        b  own fund
                .history-container__item
                    p.history-container__title 
                        | Raise investments
                .history-container__item
                    p.history-container__title 
                        | Work with a ready base of traders
            .platform-funds__btn-wr
                a(href="").platform-funds__btn.btn-bl-shadow  Send Request        
        .platform-funds__picture       
            img(src="static/img/platformFImg.png", alt="").platform-funds__img