.proof-trade
    .proof-trade__inner.containner-pad
        h1.proof-trade__title.title Proof-of-Trade
        p.proof-trade__descriotion
            b Membrana 
            |  has developed an internal registry in which the hash sum of all completed transactions on the platform is recorded 
            b - Hashlog
        p.proof-trade__text 
            b With its help, 
            | the possibility of falsification of the trader’s 
            br 
            | trading history and its efficiency is completely excluded
        .proof-trade__pictures
            img(src="/static/img/prooftradeimg2.png", alt="").proof-trade__img-big.proof-trade__img
            img(src="/static/img/prooftradeimg1.png", alt="").proof-trade__img-small.proof-trade__img