.proof-trade
    .proof-trade__inner.containner-pad
        h1.proof-trade__title.title!=app.proof_trade.title
        p.proof-trade__descriotion!=app.proof_trade.descriotion
        p.proof-trade__text!=app.proof_trade.text
        .proof-trade__pictures
            img(src="/static/img/pictures/prooftradeimg2.png", alt="").proof-trade__img-big.proof-trade__img
            img(src="/static/img/pictures/prooftradeimg1.png", alt="").proof-trade__img-small.proof-trade__img