.rating.containner-pad
    p.rating__sub!=app.rating.sub
    h3.rating__title.title!=app.rating.title
    p.rating__sub-title!=app.rating.sub_title
    .rating__table.table-rating
        .table-rating__grid-scroll
            .table-rating__grid
                .table-rating__wrap
                    .table-rating__head
                        .table-rating__th Name
                        .table-rating__th.table-rating__th_hide Balance Chart 7d, USDT
                        .table-rating__th.table-rating__th_hide Balance Chart 7d, BTC
                        .table-rating__th Balance Under Management
                        .table-rating__th Contract Stats
                        .table-rating__th Average Monthly ROI
                        .table-rating__th Contract Settings
                        .table-rating__th
    a(href="").rating__btn See All
