.token.containner-pad
    img(src="static/img/icons/logoBg.svg", alt="").token__decore
    .token__inner
        h3.token__title.title Explore MBN token
        h3.token__description 
            | You can receive access to a whole new world of trading with MBN tokens. 
            br
            | Use MBN tokens to gain advantages and unlock various tools on Membrana platform.
        p.token__text 
            | With MBN tokens you can recieve staking rewards or join Community Operated Fund (COF) 
            br
            | to take part in investment pools and other ecosystem activities.
    .token__items
        a(href="https://abcc.com/en/pro/markets/mbnbtc" target="_blank").token__item.cart-token.cart-token_active.shadow-item
            span.cart-token__title ABCC
            span.cart-token__text MBN/USD 1.6084
        a(href="https://www.probit.com/app/exchange/MBN-BTC" target="_blank").token__item.cart-token.shadow-item
            span.cart-token__title ProBIT
            span.cart-token__text MBN/USD 1.6084
    a(href="https://abcc.com/en/pro/markets/mbnbtc" target="_blank").token__btn.btn-base-shadow BUY MBN
            


